name: promohard
description: App de promoções de tecnologia
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0
  flutter_native_splash: ^2.4.0

flutter:
  uses-material-design: true

flutter_native_splash:
  color: "#0E0E0E"
  android: true
  ios: false
  fullscreen: true
  remove_after: true
